







.container {  display: grid;
  grid-template-columns: 0.9fr 1.1fr 1fr;
  grid-template-rows: 0.4fr 2.3fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Top Top Top"
    "QA QA QA"
    "submit submit submit";
}

.Top {  display: grid;
  grid-template-columns: 0.2fr 2.3fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: Top;
}

.QA {  display: grid;
  grid-template-columns: 0.4fr 2.4fr 0.2fr;
  grid-template-rows: 2.2fr 0.1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Question Question Question"
    "answers answers answers"
    "answers answers answers";
  grid-area: QA;
}

.Question { grid-area: Question; }

.answers {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
  grid-area: answers;
}

.submit { grid-area: submit; }
button {
  width: 20px;
}