@import "tailwindcss";
@plugin "daisyui";

  .settings-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin-bottom: 20px;
background-image:
      linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../../assets/settingbg.png);
    background-position: center;
}


.settings-header {
  padding: 1rem;
  text-align: center;
  color: white;
  flex-shrink: 0;
}


.settings-card {
  flex: 1;
border-radius: 12px;
  padding: 2rem;
  margin: 0 ;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: auto 1fr auto;
  gap: 1em;
  grid-template-areas:
    "field1 field2"
    "highscore highscore"
    "button button";




}
.settings-field {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  color: rgb(255, 255, 255);
  width: 100%;

}
content {
    grid-area: space;
   text-align: center;
}


.select :hover {

  box-shadow: 0 5px 25px rgba(21, 58, 121, 0.884);
}

.settings-field:first-of-type {
  grid-area: field1;
}

.settings-field:nth-of-type(2) {
  grid-area: field2;
}

.settings-field label {
  font-weight: bold;
  color: #ffffff;
  font-size: 1rem;
}

 .settings-field select {
  padding: .5rem;
 text-align: center;
  border-radius: 6px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0);
 
  transition: border-color 0.2s;
  height: 50px;
  width: 100%;
 }





.settings-footer {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.settings-card > div:last-child {
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}


.play-button {
  padding: 0.75rem 1rem;
  width: 155px;
    height: 40px;
      background-color: rgb(32, 58, 143);
opacity:70%;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  
  transition: transform 0.2s, box-shadow 0.1s;
  
  
}

.play-button:hover {
  transform: translateY(-2px);
  box-shadow: 5px 5px 5px rgba(109, 201, 206, 0.484);
}
.select#category {
  width: 345px;
  align-self: center;
  text-align: center;
}
  
.select#category:hover {
  border-color: #667eea;
  box-shadow: 0 0 0 5px rgba(67, 91, 189, 0.348);
}

.select#difficulty {
width: 345px;
align-self: center;
}
.select#difficulty:hover{

    box-shadow: 0 0 0 5px rgba(165, 67, 189, 0.348);
}

.settings-card > div:nth-child(4) {
  grid-area: highscore;
}

.highscore-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.highscore-container h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}







  







 
