#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-style: solid;

}
div#modalview{
  display: grid;
color:rgb(80, 214, 255);
border-width: 3px;
width: 650px;
background-image: url('../src/assets/modal.jpg');
grid-template-rows: 1fr;
}
.div#modalcontent {
display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}


@view-transition {
  navigation: auto;
}







  







 
