



div#browser{
  width: 900px;
  height: 80vh;
  margin-bottom: 20px;
  background-image: url('../../assets/gameplay.jpg');
background-position: center;
background-size: cover ;

}

.timer {
  padding: 16px;
  text-align: center;
  font-size: 18px;
}

div#view{
  display: grid;
  grid-template-rows: 1fr .25fr;
  padding: 20px;
  gap: 30px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question h1 {
  text-align: center;
  font-size: 24px;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  border-radius: 25px;
}

.btn {
  padding: 12px 20px;
  font-size: 16px;
}









